<template>

  <body id="Tela">
    <br>
    <br>
    <div class="text-center" id="Titulo">
      <h1>Escalação da Seleção Brasileira de Voleibol</h1>
      <br>
      <br>
    </div>

    <div id="Escalação">
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" @change="handleChange">
        <option value="0">Selecione a posição desejada</option>
        <option value="1">Levantadores</option>
        <option value="2">Ponteiros</option>
        <option value="3">Opostos</option>
        <option value="4">Centrais</option>
        <option value="5">Líberos</option>
      </select>

      <div v-if="selectedOption == '0' || selectedOption === null">
        <h3 class="text-center">Resultados dos três últimos jogos</h3>
        <br><br>
        
        <div class="container">
          <div class="row">
            <div class="col-5 text-center">
              <div>
                <img src="https://images.volleyballworld.com/image/upload/f_png/t_flag/assets/flags/flag_pol" style="border: 1px solid whitesmoke;" alt="Polônia">
                <div class="vbw-mu__team__name">
                  Polônia
                </div>
              </div>
            </div>

            <div class="col-sm text-center placar">
              <h1>3 : 0</h1>
            </div>

            <div class="col-5 text-center">
              <div>
                <img src="https://images.volleyballworld.com/image/upload/f_png/t_flag/assets/flags/flag_bra" style="border: 1px solid whitesmoke;" alt="Brasil">
                <div class="vbw-mu__team__name">
                  Brasil
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <div class="vbw-mu__date">
                <div class="vbw-mu__date--day">
                  Quinta-feira
                </div>
                <div class="vbw-mu__date--date">
                  20 de Julho de 2023
                </div>
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <div class="container">
          <div class="row">
            <div class="col-5 text-center">
              <div>
                <img src="https://images.volleyballworld.com/image/upload/f_png/t_flag/assets/flags/flag_chn" style="border: 1px solid whitesmoke;" alt="Polônia">
                <div class="vbw-mu__team__name">
                  China
                </div>
              </div>
            </div>

            <div class="col-sm text-center placar">
              <h1>3 : 1</h1>
            </div>

            <div class="col-5 text-center">
              <div>
                <img src="https://images.volleyballworld.com/image/upload/f_png/t_flag/assets/flags/flag_bra" style="border: 1px solid whitesmoke;" alt="Brasil">
                <div class="vbw-mu__team__name">
                  Brasil
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <div class="vbw-mu__date">
                <div class="vbw-mu__date--day">
                  Quinta-feira
                </div>
                <div class="vbw-mu__date--date">
                  13 de Julho de 2023
                </div>
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <div class="container">
          <div class="row">
            <div class="col-5 text-center">
              <div>
                <img src="https://images.volleyballworld.com/image/upload/f_png/t_flag/assets/flags/flag_chn" style="border: 1px solid whitesmoke;" alt="Polônia">
                <div class="vbw-mu__team__name">
                  China
                </div>
              </div>
            </div>

            <div class="col-sm text-center placar">
              <h1>0 : 3</h1>
            </div>

            <div class="col-5 text-center">
              <div>
                <img src="https://images.volleyballworld.com/image/upload/f_png/t_flag/assets/flags/flag_bra" style="border: 1px solid whitesmoke;" alt="Brasil">
                <div class="vbw-mu__team__name">
                  Brasil
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <div class="vbw-mu__date">
                <div class="vbw-mu__date--day">
                  Sábado
                </div>
                <div class="vbw-mu__date--date">
                  08 de Julho de 2023
                </div>
              </div>
            </div>
          </div>
        </div>
        <br><br>
      </div>
      

      <div v-else>
        <div v-if="selectedOption === '1'">
            <div  class="d-flex justify-content-around">
              <div>
                <img src="https://selecoes.cbv.com.br/assets/images/convocados/bruninho.jpg" class="image-levantador" alt="Imagem do Bruninho">
                <h5>Nome: BRUNO MOSSA (BRUNO) <br>
                    Altura: 1,90m <br>
                    Data de nascimento: 02/07/1986 <br>
                    Clube: EMS Taubaté Funvic (SP)
                </h5>
              </div>
              <div>
                <img src="https://selecoes.cbv.com.br/assets/images/convocados/Cachopa.jpg" class="image-levantador" alt="Imagem do Cachopa">
                <h5>
                  Nome: FERNANDO GIL (F. CACHOPA) <br>
                  Altura: 1,85m <br>
                  Data de nascimento: 13/01/1996 <br>
                  Clube: Sada Cruzeiro (MG) <br>
                </h5>
              </div>
              <div>
                <img src="https://selecoes.cbv.com.br/assets/images/convocados/carisio.jpg" class="image-levantador" alt="Imagem do Carisio">
                <h5>Nome: EDUARDO CARÍSIO (CARÍSIO) <br>
                    Altura: 1,90m <br>
                    Data de nascimento: 19/01/1996 <br>
                    Clube: Vôlei UM Itapetininga (SP)
                </h5>
              </div>
            </div>
        </div>
        <div v-else-if="selectedOption === '2'">
          <div>
              <div class="d-flex justify-content-evenly">
                <div id="text-image">
                  <img src="https://selecoes.cbv.com.br/assets/images/convocados/lucarelli.jpg" class="image-ponteiro" alt="Imagem do Bruninho">
                  
                  <h5>Nome: RICARDO LUCARELLI (LUCARELLI) <br>
                      Altura: 1,95m <br>
                      Data de nascimento: 14/02/1992 <br>
                      Clube: Trentino (Itália)
                  </h5>
                </div>
                <div id="text-image">
                <img src="https://selecoes.cbv.com.br/assets/images/convocados/leal.jpg" class="image-ponteiro" alt="Imagem do Cachopa">
                <h5>
                  Nome: YOANDY LEAL HIDALGO (LEAL) <br>
                  Altura: 2,02m <br>
                  Data de nascimento: 31/08/1988 <br>
                  Clube: Lube Civitanova (Itália)
                </h5>
              </div>
            </div>
            <br>
            <br>
              <div class="d-flex justify-content-evenly">
                <div id="text-image">
                <img src="https://selecoes.cbv.com.br/assets/images/convocados/douglas.jpg" class="image-ponteiro" alt="Imagem do Carisio">
                <h5>Nome: DOUGLAS SOUZA (DOUGLAS) <br>
                    Altura: 1,98m <br>
                    Data de nascimento: 20/08/1995 <br>
                    Clube: EMS Taubaté Funvic (SP)
                </h5>
              </div>
                <div id="text-image">
                <img src="https://2018.cbv.com.br/ligadasnacoes/img/atletas/2019/Honorato.jpg" class="image-ponteiro" alt="Imagem do Carisio">
                <h5>Nome: HENRIQUE HONORATO (HONORATO) <br>
                    Altura: 1,90m <br>
                    Data de nascimento: 18/03/1997 <br>
                    Clube: Minas Tênis Clube (MG)
                </h5>
              </div>
              </div>
              
            </div>
        </div>
        <div v-else-if="selectedOption === '3'">
          <div  class="d-flex justify-content-around">
              <div>
                <img src="https://selecoes.cbv.com.br/assets/images/convocados/wallace.jpg" class="image-oposto" alt="Imagem do Bruninho">
                <h5>Nome: WALLACE LEANDRO DE SOUZA (WALLACE) <br>
                    Altura: 1,98m <br>
                    Data de nascimento: 26/06/1987 <br>
                    Clube: Spor Toto (Turquia)
                </h5>
              </div>
              <div>
                <img src="https://selecoes.cbv.com.br/assets/images/convocados/alan.jpg" class="image-oposto" alt="Imagem do Cachopa">
                <h5>
                  Nome: ALAN FERREIRA SOUZA (ALAN) <br>
                  Altura: 1,99m <br>
                  Data de nascimento: 21/03/1994 <br>
                  Clube: Sada Cruzeiro (MG)
                </h5>
              </div>
              <div>
                <img src="https://melhordovolei.com.br/adm/assets/uploads/publicacoes/0fe8d-305509927_757353895562600_6810066960323720402_n.jpg" class="image-oposto" alt="Imagem do Carisio">
                <h5>Nome: DARLAN FERREIRA SOUZA (DARLAN) <br>
                    Altura: 1,92m <br>
                    Data de nascimento: 24/06/2002 <br>
                    Clube: Sesi (SP)
                </h5>
              </div>
            </div>
        </div>
        <div v-else-if="selectedOption === '4'">
          <div  class="d-flex justify-content-around">
              <div>
                <img src="https://selecoes.cbv.com.br/assets/images/convocados/lucao.jpg" class="image-oposto" alt="Imagem do Bruninho">
                <h5>Nome: LUCAS SAATKAMP (LUCAS) <br>
                    Altura: 2,09m <br>
                    Data de nascimento: 06/03/1986 <br>
                    Clube: EMS Taubaté Funvic (SP)
                </h5>
              </div>
              <div>
                <img src="https://selecoes.cbv.com.br/assets/images/convocados/mauricio-souza.jpg" class="image-oposto" alt="Imagem do Cachopa">
                <h5>
                  Nome: MAURÍCIO LUIZ DE SOUZA (MAURÍCIO) <br>
                  Altura: 2,09m <br>
                  Data de nascimento: 29/09/1988 <br>
                  Clube: EMS Taubaté Funvic (SP)
                </h5>
              </div>
              <div>
                <img src="https://selecoes.cbv.com.br/assets/images/convocados/flavio.jpg" class="image-oposto" alt="Imagem do Carisio">
                <h5>Nome: FLÁVIO CÉSAR REDENDE (FLÁVIO) <br>
                    Altura: 2,01m <br>
                    Data de nascimento: 22/04/1993 <br>
                    Clube: Zawiercie (Polônia)
                </h5>
              </div>
            </div>
        </div>
        <div v-else-if="selectedOption === '5'">
          <div  class="d-flex justify-content-around">
              <div>
                <img src="https://selecoes.cbv.com.br/assets/images/convocados/maique.jpg" class="image-libero" alt="Imagem do Bruninho">
                <h5>Nome: MAIQUE REIS NASCIMENTO (MAIQUE) <br>
                    Altura: 1,83m <br>
                    Data de nascimento: 16/07/1997 <br>
                    Clube: Minas Tênis Clube (MG)
                </h5>
              </div>
              <div>
                <img src="https://selecoes.cbv.com.br/assets/images/convocados/thales.jpg" class="image-libero" alt="Imagem do Cachopa">
                <h5>
                  Nome: THALES GUSTAVO HOSS (THALES) <br>
                  Altura: 1,87m <br>
                  Data de nascimento: 26/04/1989 <br>
                  Clube: EMS Taubaté Funvic (SP)
                </h5>
              </div>
            </div>
        </div>
      </div>

    </div>


<footer class="text-center text-lg-start text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Trabalho realizado por Leonardo Calsavara</span>
      <br>
      <span>Tecnologia e Desenvolvimento de Sistemas - Pratica 4</span>
    </div>
  </section>

</footer>
  </body>
</template>

<script>
import "bootstrap/dist/css/bootstrap.css";
import "font-awesome/css/font-awesome.css";

export default {
  name: "app",
  data() {
    return {
      selectedOption: null,
    };
  },
  methods: {
    handleChange(event) {
      this.selectedOption = event.target.value;
    },
  },
};
</script>

<style>
footer {
    background-color: lightgoldenrodyellow;
  }

.placar{
  margin-top: 10px;
}
 #Tela{
  background-color: #009B3A;
}

.carousel-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-levantador {
  /* Defina o tamanho desejado para as imagens */
  width: 350px; /* Por exemplo, definindo o tamanho para 200 pixels de largura */
  height: 400px; /* Por exemplo, definindo o tamanho para 200 pixels de altura */
  object-fit: cover; /* Adicione a propriedade object-fit para ajustar a imagem ao contêiner */
}

h5 {
  /* Adicione estilos para o texto */
  font-size: 17px; /* Defina o tamanho do texto desejado */
  margin-top: 10px; /* Adicione margem entre a imagem e o texto */
}

.image-ponteiro{
  width: 350px; /* Por exemplo, definindo o tamanho para 200 pixels de largura */
  height: 400px; /* Por exemplo, definindo o tamanho para 200 pixels de altura */
  object-fit: cover;
}

.text-image {
  text-align: justify;
  margin-top: 10px; /* Adicione uma margem entre a imagem e o texto abaixo */
}

.image-oposto{
  width: 350px; /* Por exemplo, definindo o tamanho para 200 pixels de largura */
  height: 400px; /* Por exemplo, definindo o tamanho para 200 pixels de altura */
  object-fit: cover;
}

.image-libero{
  width: 350px; /* Por exemplo, definindo o tamanho para 200 pixels de largura */
  height: 400px; /* Por exemplo, definindo o tamanho para 200 pixels de altura */
  object-fit: cover;
}


</style>
